# Supabase Configuration
VITE_SUPABASE_URL="https://yhtuoehxsprtssnlhdbg.supabase.co"
VITE_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlodHVvZWh4c3BydHNzbmxoZGJnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzg0NjUwMzcsImV4cCI6MjA5NDA0MTAzN30.S89AcT1hFBVT_635aQO_Pe-P21xdjxxtSwSj29jL4UY"
